PROJETO/ReiforcementLearn/Images/*
PROJETO/ReiforcementLearn/breakout_dataModel.h5
PROJETO/AMBIENTE_TESTE/script_python/process/*
PROJETO/AMBIENTE_TESTE/script_python/__pycache__/*
PROJETO/ReiforcementLearn/currentProcessICMinih/*
PROJETO/ReiforcementLearn/Graphs/*
Documentos/*
PROJETO/Analitycs/*
PROJETO/ReiforcementLearn/experiments/*
PROJETO/ReiforcementLearn/.ipynb_checkpoints/*
Artigos Estudos/*