PROJETO/ReinforcementLearn/Images/*
PROJETO/ReinforcementLearn/breakout_dataModel.h5
PROJETO/AMBIENTE_TESTE/script_python/process/*
PROJETO/AMBIENTE_TESTE/script_python/__pycache__/*
PROJETO/AMBIENTE_TESTE/games/*
PROJETO/AMBIENTE_TESTE/FCEUX/*
PROJETO/AMBIENTE_TESTE/scripts_lua/fceux_listener.lua
PROJETO/ReinforcementLearn/currentProcessICMinih/*
PROJETO/ReinforcementLearn/Graphs/*
Documentos/*
PROJETO/Analitycs/*
PROJETO/ReinforcementLearn/experiments/*
PROJETO/ReinforcementLearn/.ipynb_checkpoints/*
Artigos Estudos/*
PROJETO/aws_experiments/*
PROJETO/ReinforcementLearn/experiments/*
TCC/*
Artigos Estudos/*
PROJETO/ReinforcementLearn_backup/*
PROJETO/ReinforcementLearn/blobfinder/*
PROJETO/ReinforcementLearn/Link-DocumentoWord.txt
